<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dojo Wall</title>
    {% load static %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- new navbar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Test App</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/dashboard">Welcome, {{logged_in_user.first_name}}</a>
        <a class="p-2 text-dark" href="/dashboard">Home</a>
        <a class="p-2 text-dark" href="#">Profile</a>
        <a class="p-2 text-dark" href="{% url 'dashboard:my_index' %}">Dashboard</a>
      </nav>
      <a class="btn btn-outline-primary" href="/log_out">Sign Out</a>
    </div>
      <!-- <div class="header">
      <span>
        <a href="/log_out">sign off</a>
        <a href="/index">Main</a>
      </span>

      <h2>CodingDojo Wall</h2>
      <p>Welcome, {{user.first_name}}</p>
    </div> -->
      <div class="header">
        <h2>{{user.first_name}}'s Wall</h2>
        <p>Welcome! Please leave a message for {{user.first_name}}.</p>
      </div>
      <hr />
      <br />
      <!-- message form  -->
      <div class="post">
        <br />
        <form action="/new_message" method="POST" id="message_box">
          {%csrf_token%}
          <!-- <label for="message">Post a message</label><br /> -->
          <textarea
            name="message"
            cols="100"
            rows="10"
            placeholder="Post a message."
          ></textarea
          ><br />
          <input type="hidden" name="user_id" value="{{user.id}}" />
          <button type="submit">Post a message</button>
        </form>
      </div>
      <!-- display errors -->
      <div class="messages_all">
        {% if messages %}
        <ul class="messages_list">
          {% for message in messages %}
          <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
            {{message}}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <br />

      <!-- display messages -->
      {% for message in all_messages reversed %} {% if message.user != user %}
      <div class="messages">
        <p>
          <strong id="user"
            >{{message.user.first_name}} {{message.user.last_name}}</strong
          >
          posted on {{message.created_at}}
        </p>
        <p>
          {{message.message}} <a href="/wall" id="reply">reply</a>
          {% if message.user == user%}
          <a href="/{{message.id}}/delete_message" id="delete">delete</a>
          {% endif%}
        </p>
        <hr />

        <div>
          {% for comment in message.comments.all %}
          <p>
            <strong
              >{{comment.user.first_name}} {{comment.user.last_name}}</strong
            >
            replied on {{comment.created_at}}
          </p>
          <p>&#x21B3; {{comment.comment}}</p>
          {% endfor %}
        </div>
      </div>
      <!-- comments form -->
      <div id="comment_form">
        <form action="/new_comment" method="POST" id="comment_box">
          {% csrf_token %}
          <textarea
            rows="3"
            cols="70"
            name="comment"
            placeholder="&#x21B3; Post a comment."
          ></textarea>
          <input
            type="hidden"
            name="user_id"
            value="{{request.session.user_id}}"
          />
          <input type="hidden" name="message_id" value="{{message.id}}" />

          <button class="secondary">Post a comment</button>
        </form>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <br />
  </body>
</html>
